<div class="conteiner my-3">
<!-- colocamos un componente hijo de un formulario en este componente de product.

RECUERDA
para que el componente pueda existir, debemos importar el componente hijo
en el componente padre en el archivo ts y colocar su selector del componente
hijo en el archivo html del componente padre, en este caso product-form como
selector-->

<!-- Al pasar data desde el componente hijo al componente al componente padre, en el
componente padre, en el archivo html dentro del selector hijo, tenemos que poner entre
parentesis el objeto que envia el componente hijo y manejarlo en un método que exista en
el archivo .ts del componente padre. El parámetro a recibir no es el parámetro descrito
en el componente .ts del padre aquí en el archivo html, sino que es un evento, esto
solo es en el componente padre en el archivo html -->

<!-- en el atributo que guarda un objeto en el componente hijo, le pasamos del componente
padre al componente hijo el producto seleccionado para que en el formulario actualicemos sus
datos dado el atributo del componente padre que guarda el resgistro seleccionado -->
<div class="row">
    <div class="col">
        <product-form (newProductEvent)="addProduct($event)" [product] = "productSelected"></product-form>
    </div>
    <div class="col">

@if(products.length > 0){
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products; track $index) {
                <tr>
                    <td> {{product.id}} </td>
                    <td> {{product.name}} </td>
                    <td> {{product.description}} </td>
                    <td> {{product.price}} </td>
                    <!-- En el bóton update, dado un evento de click, pasamod
                    el producto seleccionado al método del componente con la
                    tabla-->
                    <td><button (click)="onUpdateProduct(product)" class="btn btn-sm btn-secondary">Update</button></td>
                    <td><button (click)="onRemoveProduct(product.id)" class="btn btn-sm btn-danger">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
}@else {
    <div class="alert alert-info">Lo sentimos, no hay registros en el sistema</div>
}
        
</div>
</div>
</div>
