<!-- ${}: Se usa para variables y objetos en Thymeleaf
     @{}: Se usa para rutas url en Thymeleaf-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <!--Interpolación de variables-->
    <ul>
        <li th:text="${usuario.name}"></li>
        <li th:text="${usuario.lastname}"></li>
        <!--La sisntaxys de arriba, accede al objeto usuario
        a los metodos get de los atributos para obtener su valor.
        Ingresa, no por el nombre del objeto, sino por el nombre de
        la llave asociado al objeto, de ahi llama a los métodos get
        para obtener los valores de los atributos-->
        <li th:if="${usuario.email != null}" th:text="${usuario.email}"></li>
        <li th:if="${not (usuario.email != null)}" th:text="${'no tiene email'}"></li>
        <!--Al colocar un texto plano que se mosttrará en la lista, lo colocamos
        con comillas simples, forsozamente, de lo contrario nos dará un error-->

        <!--th:text luego de th:if funciona para colocar un mensahe, en caso 
        que la evaluación del IF sea verdadero, o podemos colocar un contenido 
        en la etiqueta para que cunpla la misma función. El th:text funciona igual
        que si tuviera contenido la etiqueta pues solo se mostrará si la condición
        IF se cumple-->
    </ul>
    <a th:href="@{/list}">Ver listado</a>
    <a th:href="@{'/api/params/foo?message='+ ${title}}">Ver mensaje</a>
    <!--th:href permite reedireccionar a un endpoint añadiendo un parámetro. Al
    concatenar, el endpoint debe ir en comillas. ${} es un parametro/variable pasado
    por un método get por lo que si requieres pasarlo en la ruta url de 
    thymeleaf, la ruta tiene que ir en comillas simples y ${} concatenado.
    Esto último siempre debe pasar con variables y objetos de Thymeleaf -->
    <a th:href="@{/api/params/foo(message = 'Hola desde Details')}">Ver mensaje</a>
    <!--th:href permite reedireccionar a un endpoint añadiendo un parámetro con
    mejores prácticas. Como no se concatena, el parámetro debe ir en parentesis
    y con el nombre se su variable. Depende del nombre de dato, sebe ser establecido
    su valor como en Java, este al ser String debe ir en comillas simples-->
    <a th:href="@{/api/params/bar?text=Hola Spring&code=112}">Ver parametros</a>
    <!--th:href permite reedireccionar a un endpoint añadiendo parámetros con
    mejores prácticas. Los parámetros debe ir en parentesis junto con el nombre
    de sus variables. Al ser varios parámetros, van separados por &-->
    <a th:href="@{/api/params/bar(text = 'Hola desde Details',
    code=144)}">Ver mensaje</a>
    <!--th:href permite reedireccionar a un endpoint añadiendo parámetros con
    mejores prácticas. Los parámetros debe ir en parentesis junto con el nombre
    de sus variables. Al ser varios parámetros, van separados por coma[,].
    Depende del nombre de dato, sebe ser establecido
    su valor como en Java, este al ser String debe ir en comillas simples y 
    un valor int sin comillas-->
    <a th:href="@{/api/var/baz/Hola desde Path Variable}">Ver mensaje</a>
    <!--th:href permite reedireccionar a un endpoint que tiene un path variable.
    @PathVariable En este caso como la ruta solo utiliza un parámetro se coloca 
    tal cual en la ruta de thymeleaf-->
    <a th:href="@{'/api/var/baz/' + ${title}}">Ver mensaje</a>
    <!--th:href permite reedireccionar a un endpoint añadiendo un parámetro. Al
    concatenar, el endpoint debe ir en comillas. ${} es un parametro/variable pasado
    por un método get por lo que si requieres pasarlo en la ruta url de 
    thymeleaf, la ruta tiene que ir en comillas simples y ${} concatenado.
    Esto último siempre debe pasar con variables y objetos de Thymeleaf -->
    <a th:href="@{'/api/var/baz/' + 'Hola desde Path Variable'}">Ver mensaje</a>
    <!--th:href permite reedireccionar a un endpoint añadiendo un parámetro. Al
    concatenar, el endpoint debe ir en comillas. para concatenar datos la ruta
    de thymeleaf debe ir en comillas y el dato a pasar debe ir declarado como en Java,
    en este caso como es un String va en comillas simples, si fuera un Integer, debe ir
    sin comillas -->

</body>
</html>