<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <div th:if="${users.isEmpty()}">No tiene elementos usuarios</div>

    <table th:if="${not users.isEmpty()}">
        <thead>
            <tr>
                <th>Name</th>
             <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <!--Debemos colocar un ciclo each de thymeleaf
            pues queremos mostrar los datos de cada usuario
        almacenado en la lista del objeto usuario. Es por ello
        que utilizamos un ciclo para mostrar cada fila de cada 
        atributo-->
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <!--Iteramos la variable user pues user
                tendra en cada iteración, un usuario de
                una lista de usuarios-->
                <td th:if="${user.email == null}" th:text="${'n/a'}"></td>
                <!--th:text: Al ser contexto llava, el string entre ${}
                debe llevar comillas simples en vez de comillas dobles
                para no confundir con las comillas del argumento de th:text-->
            </tr>
        </tbody>
    </table>
</body>
</html>